tem<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Doctor's Office</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Doctor's Office</h1>
    </div>
    <h5>Add a new doctor:</h5><br>
    <form action="/doctors" method="post">
      <label for="doctorName">Doctor name:</label><br>
      <input id="doctorName" name="doctorName" type="text"><br>
      <label for="doctorSpecialty">Specialty:</label><br>
      <input id="doctorSpecialty" name="doctorSpecialty" type="text"><br>
      <button type="submit" class="btn btn-dark">Add</button>
    </form>
    <div id="space">
    </div>
    <hr>
    <a href="/doctors" class="btn btn-dark">Back to doctors</a>
    <a href="/" class="btn btn-dark">Back to homepage</a>
  </div>
</body>
</html>
