<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Doctor's Office</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Doctor's Office</h1>
    </div>
    <h5>The patient has been deleted.</h5>
    <div id="space">
    </div>
    <hr>
    <p><a href="/doctors/@Model["doctor"].GetId()" class="btn btn-dark">Back to doctor</a></p>
  </div>
</body>
</html>
